#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

#define QWERTY 0
#define NUMBER 1
#define SYMBOL 2
#define ARROWS 3
#define BLUETH 4
#define GAME   5

#define AS(keycode) &as LS(keycode) keycode     // Autoshift Macro

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

/ {
    combos {
        #include "combos.dtsi"
    };
};

/ {
    macros {
        vim_w: vim_word {
            label = "vim_word";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LA(RIGHT)>
                , <&macro_tap &kp LA(RIGHT)>
                , <&macro_tap &kp LA(LEFT)>
                ;
        };

        end_append: end_append {
            label = "end_append";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &to QWERTY>
                , <&macro_tap &kp LG(RIGHT)>
                ;
        };

        home_insert: home_insert {
            label = "home_insert";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &to QWERTY>
                , <&macro_tap &kp LG(LEFT)>
                ;
        };
    };
};

/ {
    behaviors {
        mt: mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
            display-name = "Mod-Tap";
        };

        lt: layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&kp>;
            display-name = "Layer-Tap";
        };
    };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QWERTY";
/* ╭──────────┬─────┬─────┬─────┬────────────┬───────╮   ╭───────────┬─────────┬────────────┬─────┬─────┬─────────╮
   │ ESC      │  Q  │  W  │  E  │  R         │  T    │   │ Y         │  U      │  I         │  O  │  P  │  BSPC   │
   ├──────────┼─────┼─────┼─────┼────────────┼───────┤   ├───────────┼─────────┼────────────┼─────┼─────┼─────────┤
   │ TAB      │  A  │  S  │  D  │  F         │  G    │   │ H         │  J      │  K         │  L  │  ;  │  '      │
   ├──────────┼─────┼─────┼─────┼────────────┼───────┤   ├───────────┼─────────┼────────────┼─────┼─────┼─────────┤
   │ 🌐       │  Z  │  X  │  C  │  V         │  B    │   │ N         │  M      │  ,         │  .  │  /  │  ⇧      │
   ╰──────────┴─────┴─────┼─────┼────────────┼───────┤   ├───────────┼─────────┼────────────┼─────┴─────┴─────────╯
                          │  ⌘  │ CTRL / ESC │ ⇧ / ␣ │   │ SYM / ⏎   │ ARR / ↹ │  ⌥         │
                          ╰─────┴────────────┴───────╯   ╰───────────┴─────────┴────────────╯                    */
                        bindings = <
   &kp ESC       &kp Q &kp W &kp E    &kp R         &kp T            &kp Y          &kp U          &kp I         &kp O   &kp P    &kp BSPC
   &mt LCTRL TAB &kp A &kp S &kp D    &kp F         &kp G            &kp H          &kp J          &kp K         &kp L   &kp SEMI &kp SQT
   &kp GLOBE     &kp Z &kp X &kp C    &kp V         &kp B            &kp N          &kp M          &kp COMMA     &kp DOT &kp FSLH &mt RSHFT BSLH
                             &kp LGUI &mt LCTRL ESC &mt LSHIFT SPACE &lt SYMBOL RET &lt ARROWS TAB &mt RALT BSPC
                        >;
                };

                lower_layer {
                        label = "NUMBER";
/* ╭─────┬─────┬─────┬─────┬─────┬─────╮   ╭─────┬─────┬─────┬─────┬─────┬─────╮
   │     │     │     │     │     │     │   │  +  │  7  │  8  │  9  │  *  │     │
   ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
   │     │     │     │     │     │     │   │  -  │  4  │  5  │  6  │  /  │     │
   ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
   │     │     │     │     │     │     │   │  0  │  1  │  2  │  3  │  =  │     │
   ╰─────┴─────┴─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┴─────┴─────╯
                     │     │     │     │   │ QWR │ ARR │     │
                     ╰─────┴─────┴─────╯   ╰─────┴─────┴─────╯                   */
                        bindings = <
   &to QWERTY &trans  &trans  &trans  &trans      &trans    &kp PLUS   &kp N7      &kp N8  &kp N9  &kp KP_MULTIPLY  &trans
   &trans     &trans  &trans  &trans  &trans      &trans    &kp MINUS  &kp N4      &kp N5  &kp N6  &kp FSLH         &trans
   &trans     &trans  &trans  &trans  &trans      &trans    &kp N0     &kp N1      &kp N2  &kp N3  &kp EQUAL        &trans
                              &trans  &trans      &trans    &to QWERTY &to ARROWS  &trans
                        >;
                };

                raise_layer {
                        label = "SYMBOL";
/* ╭─────┬─────┬─────┬─────┬─────┬─────╮   ╭─────┬─────┬─────┬─────┬─────┬─────╮
   │ QWR │  1  │  2  │  3  │  4  │  5  │   │  6  │  7  │  8  │  9  │  0  │     │
   ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
   │     │  !  │  @  │ '#' │  $  │  %  │   │  ^  │  &  │  *  │  -  │  +  │  =  │
   ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
   │     │  `  │  <  │  {  │  [  │  (  │   │  )  │  ]  │  }  │  >  │     │     │
   ╰─────┴─────┴─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┴─────┴─────╯
                     │     │ QWR │     │   │ QWR │ ARR │     │
                     ╰─────┴─────┴─────╯   ╰─────┴─────┴─────╯                   */
                        bindings = <
   &to QWERTY &kp N1    &kp N2 &kp N3   &kp N4     &kp N5    &kp N6     &kp N7     &kp N8          &kp N9    &kp N0   &trans
   &trans     &kp EXCL  &kp AT &kp HASH &kp DLLR   &kp PRCNT &kp CARET  &kp AMPS   &kp KP_MULTIPLY &kp MINUS &kp PLUS &kp EQUAL
   &trans     &kp GRAVE &kp LT &kp LBRC &kp LBKT   &kp LPAR  &kp RPAR   &kp RBKT   &kp RBRC        &kp GT    &trans   &trans
                               &trans   &trans     &trans    &to QWERTY &to ARROWS &trans
                        >;
                };

                arrow_layer {
                        label = "ARROWS";
/* ╭─────┬─────┬─────┬─────┬─────┬─────╮   ╭─────┬─────┬─────┬─────┬─────┬─────╮
   │     │     │  ↑  │ [e] │     │     │   │ MB1 │ SC↓ │ SC↑ │ MB2 │     │     │
   ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
   │     │  ←  │  ↓  │  →  │     │     │   │  ←  │  ↓  │  ↑  │  →  │     │     │
   ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
   │     │     │ [x] │     │     │ [b] │   │  ↖︎  │ PGD │ PGU │  ↘  │ [/] │     │
   ╰─────┴─────┴─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┴─────┴─────╯
                     │     │     │     │   │     │ NUM │     │
                     ╰─────┴─────┴─────╯   ╰─────┴─────┴─────╯                   */
                        bindings = <
   &to QWERTY &none          &mmv MOVE_UP   &kp LA(RIGHT)   &none  &none        &mkp LCLK      &msc SCRL_UP   &msc SCRL_DOWN &mkp RCLK &none     &trans
   &trans     &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &none  &none        &kp LEFT       &kp DOWN       &kp UP         &kp RIGHT &none     &none
   &trans     &none          &kp DEL        &none           &none  &kp LA(LEFT) &kp HOME       &kp PG_DN      &kp PG_UP      &kp END   &kp LG(F) &trans
                                            &trans          &trans &trans       &trans         &to NUMBER     &trans
                        >;
                };

                bt_layer {
                        label = "BLUETH";
/* ╭───────┬─────┬─────┬─────┬─────┬─────╮   ╭─────┬─────┬─────┬─────┬─────┬─────╮
   │       │     │     │     │     │     │   │     │     │     │     │     │     │
   ├───────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
   │ BTCLR │ BT1 │ BT2 │ BT3 │ BT4 │ BT5 │   │     │     │     │     │     │     │
   ├───────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
   │       │     │     │     │     │     │   │     │     │     │     │     │     │
   ╰───────┴─────┴─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┴─────┴─────╯
                       │     │ QWR │     │   │ QWR │     │     │
                       ╰─────┴─────┴─────╯   ╰─────┴─────┴─────╯                   */
                        bindings = <
   &to QWERTY &none        &none        &none        &none        &none        &none      &none   &none   &none   &none   &none
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none      &none   &none   &none   &none   &none
   &none      &none        &none        &none        &none        &none        &none      &none   &none   &none   &none   &none
                                        &none        &to QWERTY   &none        &to QWERTY &none   &none
                        >;
                };

                game_layer {
                        label = "GAME";
/* ╭──────────┬─────┬─────┬─────┬────────────┬───────╮   ╭───────────┬─────────┬────────────┬─────┬─────┬─────────╮
   │ ESC      │  Q  │  W  │  E  │  R         │  T    │   │ Y         │  U      │  I         │  O  │  P  │  BSPC   │
   ├──────────┼─────┼─────┼─────┼────────────┼───────┤   ├───────────┼─────────┼────────────┼─────┼─────┼─────────┤
   │ TAB      │  A  │  S  │  D  │  F         │  G    │   │ H         │  J      │  K         │  L  │  ;  │  '      │
   ├──────────┼─────┼─────┼─────┼────────────┼───────┤   ├───────────┼─────────┼────────────┼─────┼─────┼─────────┤
   │ ⇧        │  Z  │  X  │  C  │  V         │  B    │   │ N         │  M      │  ,         │  .  │  /  │  ⇧      │
   ╰──────────┴─────┴─────┼─────┼────────────┼───────┤   ├───────────┼─────────┼────────────┼─────┴─────┴─────────╯
                          │  ⌘  │    CTRL    │   ␣   │   │ SYM / ⏎   │ ARR / ↹ │  ⌥         │
                          ╰─────┴────────────┴───────╯   ╰───────────┴─────────┴────────────╯                    */
                        bindings = <
   &kp ESC    &kp Q &kp W &kp E    &kp R      &kp T      &kp Y          &kp U          &kp I         &kp O   &kp P    &kp BSPC
   &kp TAB    &kp A &kp S &kp D    &kp F      &kp G      &kp H          &kp J          &kp K         &kp L   &kp SEMI &kp SQT
   &kp LSHFT  &kp Z &kp X &kp C    &kp V      &kp B      &kp N          &kp M          &kp COMMA     &kp DOT &kp FSLH &mt RSHFT BSLH
                          &kp LGUI &kp LCTRL  &kp SPACE  &lt SYMBOL RET &lt ARROWS TAB &mt RALT BSPC
                        >;
                };
        };
};
