#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define QWERTY 0
#define NUMBER 1
#define SYMBOL 2
#define ARROWS 3
#define BLUETH 4

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

/ {
    combos {
        #include "combos.dtsi"
    };
};

/ {
    macros {
        vim_w: vim_word {
            label = "vim_word";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LA(RIGHT)>
                , <&macro_tap &kp LA(RIGHT)>
                , <&macro_tap &kp LA(LEFT)>
                ;
        };

        end_append: end_append {
            label = "end_append";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &to QWERTY>
                , <&macro_tap &kp LG(RIGHT)>
                ;
        };

        home_insert: home_insert {
            label = "home_insert";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &to QWERTY>
                , <&macro_tap &kp LG(LEFT)>
                ;
        };
    };
};

/ {
    behaviors {
        vim_i: vim_insert {
            compatible = "zmk,behavior-mod-morph";
            label = "VIM_INSERT";
            #binding-cells = <0>;
            bindings = <&to QWERTY>, <&home_insert>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        vim_a: vim_append {
            compatible = "zmk,behavior-mod-morph";
            label = "VIM_APPEND";
            #binding-cells = <0>;
            bindings = <&to QWERTY>, <&end_append>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        vim_n: vim_next {
            compatible = "zmk,behavior-mod-morph";
            label = "VIM_NEXT";
            #binding-cells = <0>;
            bindings = <&kp LG(G)>, <&kp LG(LS(G))>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QWERTY";
/* ╭──────┬─────┬─────┬─────┬─────┬─────╮   ╭─────┬─────┬─────┬─────┬─────┬─────╮
   │  ↹   │  Q  │  W  │  E  │  R  │  T  │   │  Y  │  U  │  I  │  O  │  P  │  \  │
   ├──────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
   │ CTRL │  A  │  S  │  D  │  F  │  G  │   │  H  │  J  │  K  │  L  │  ;  │  '  │
   ├──────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
   │  ⇧   │  Z  │  X  │  C  │  V  │  B  │   │  N  │  M  │  ,  │  .  │  /  │  ⇧  │
   ╰──────┴─────┴─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┴─────┴─────╯
                      │  ⌘  │ SYM │  ␣  │   │ RET │ ARR │  ⌥  │
                      ╰─────┴─────┴─────╯   ╰─────┴─────┴─────╯                    */
                        bindings = <
   &kp ESC        &kp Q    &kp W      &kp E        &kp R   &kp T      &kp Y    &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &mt LCTRL TAB  &kp A    &kp S      &kp D        &kp F   &kp G      &kp H    &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHIFT     &kp Z    &kp X      &kp C        &kp V   &kp B      &kp N    &kp M  &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                  &sk LGUI &mo SYMBOL &kp SPACE    &kp RET &mo ARROWS &sk RALT
                        >;
                };

                lower_layer {
                        label = "NUMBER";
/* ╭─────┬─────┬─────┬─────┬─────┬─────╮   ╭─────┬─────┬─────┬─────┬─────┬─────╮
   │     │     │     │     │     │     │   │  +  │  7  │  8  │  9  │  *  │     │
   ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
   │     │     │     │     │     │     │   │  -  │  4  │  5  │  6  │  /  │     │
   ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
   │     │     │     │     │     │     │   │  0  │  1  │  2  │  3  │  =  │     │
   ╰─────┴─────┴─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┴─────┴─────╯
                     │     │ QWR │     │   │     │ ARR │     │
                     ╰─────┴─────┴─────╯   ╰─────┴─────┴─────╯                   */
                        bindings = <
   &to QWERTY &trans  &trans  &trans  &trans      &trans    &kp PLUS   &kp N7      &kp N8  &kp N9  &kp KP_MULTIPLY  &trans
   &trans     &trans  &trans  &trans  &trans      &trans    &kp MINUS  &kp N4      &kp N5  &kp N6  &kp FSLH         &trans
   &trans     &trans  &trans  &trans  &trans      &trans    &kp N0     &kp N1      &kp N2  &kp N3  &kp EQUAL        &trans
                              &trans  &to QWERTY  &trans    &trans     &to ARROWS  &trans
                        >;
                };

                raise_layer {
                        label = "SYMBOL";
/* ╭─────┬─────┬─────┬─────┬─────┬─────╮   ╭─────┬─────┬─────┬─────┬─────┬─────╮
   │     │  1  │  2  │  3  │  4  │  5  │   │  6  │  7  │  8  │  9  │  0  │     │
   ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
   │     │  !  │  @  │ '#' │  $  │  %  │   │  ^  │  &  │  *  │  -  │  =  │  \  │
   ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
   │     │  `  │     │     │     │     │   │     │     │     │     │     │     │
   ╰─────┴─────┴─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┴─────┴─────╯
                     │     │ QWR │     │   │     │ ARR │     │
                     ╰─────┴─────┴─────╯   ╰─────┴─────┴─────╯                   */
                        bindings = <
   &to QWERTY &kp N1    &kp N2 &kp N3   &kp N4      &kp N5       &kp N6    &kp N7      &kp N8          &kp N9     &kp N0     &trans
   &trans     &kp EXCL  &kp AT &kp HASH &kp DLLR    &kp PRCNT    &kp CARET &kp AMPS    &kp KP_MULTIPLY &kp MINUS  &kp EQUAL  &kp BSLH
   &trans     &kp GRAVE &trans &trans   &trans      &trans       &trans    &trans      &trans          &trans     &trans     &trans
                               &trans   &to QWERTY  &trans       &trans    &to ARROWS  &trans
                        >;
                };

                arrow_layer {
                        label = "ARROWS";
/* ╭─────┬─────┬─────┬─────┬─────┬─────╮   ╭─────┬─────┬─────┬─────┬─────┬─────╮
   │     │     │ [w] │ [e] │     │     │   │ <LN │ [u] │ [i] │ LN> │     │     │
   ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
   │     │ [a] │     │     │     │     │   │  ←  │  ↓  │  ↑  │  →  │     │     │
   ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
   │     │     │ [x] │     │ [v] │ [b] │   │ [n] │ PGD │ PGU │  ↘  │ [/] │     │
   ╰─────┴─────┴─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┴─────┴─────╯
                     │     │ QWR │     │   │     │ NUM │     │
                     ╰─────┴─────┴─────╯   ╰─────┴─────┴─────╯                   */
                        bindings = <
   &to QWERTY &none    &vim_w         &kp LA(RIGHT) &none       &none        &kp LG(LEFT)  &kp LC(A)  &vim_i     &kp LG(RIGHT) &none     &trans    
   &trans     &vim_a   &none          &none         &none       &none        &kp LEFT      &kp DOWN   &kp UP     &kp RIGHT     &none     &none 
   &trans     &none    &kp DEL        &none         &kt LSHIFT  &kp LA(LEFT) &kp LG(G)     &kp PG_DN  &kp PG_UP  &kp END       &kp LG(F) &trans
                                      &trans        &to QWERTY  &trans       &trans        &to NUMBER &trans 
                        >;
                };

                bt_layer {
                        label = "BLUETH";
/* ╭───────┬─────┬─────┬─────┬─────┬─────╮   ╭─────┬─────┬─────┬─────┬─────┬─────╮
   │       │     │     │     │     │     │   │     │     │     │     │     │     │
   ├───────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
   │ BTCLR │ BT1 │ BT2 │ BT3 │ BT4 │ BT5 │   │     │     │     │     │     │     │
   ├───────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
   │       │     │     │     │     │     │   │     │     │     │     │     │     │
   ╰───────┴─────┴─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┴─────┴─────╯
                       │     │ QWR │     │   │     │     │     │
                       ╰─────┴─────┴─────╯   ╰─────┴─────┴─────╯                   */
                        bindings = <
   &to QWERTY &none        &none        &none        &none        &none           &none   &none   &none   &none   &none   &none    
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4    &none   &none   &none   &none   &none   &none 
   &none      &none        &none        &none        &none        &none           &none   &none   &none   &none   &none   &none 
                                        &none        &to QWERTY   &none           &none   &none   &none 
                        >;
                };
        };
};
